:root {
    --unoShadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white,
    -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black, 4px 4px 0 black,
    -8px 8px 0px rgb(0,0,0);
    --textShadow: -.15rem -.15rem 0 black, .15rem -.15rem 0 black, -.15rem .15rem 0 black, .15rem .15rem 0 black;
}

@keyframes growAndShrinkA {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes growAndShrinkH1 {
    0% {
        transform: scale(1) rotate(-8deg);
    }
    50% {
        transform: scale(1.1) rotate(-8deg);
    }
    100% {
        transform: scale(1) rotate(-8deg);
    }
}

.app h1, .app h2, .app p, .app input, .app button a {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.app p {
    display: inline;
}

.app p::after, .app input::before {
    content: " ";
}

.app {
    padding: .5rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.app label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app label, .app input {
    font-size: 2rem;
    color: yellow;
    text-shadow: var(--textShadow);
}

.app input {
    margin: 0 1rem;
    width: 3rem;
    background-color: transparent;
    border: none;
}

.app h1 {
    margin: 0;
    font-size: 14rem;
    animation: growAndShrinkH1 2.5s infinite;
    color: rgb(247, 247, 27);
    text-shadow: var(--unoShadow);
}

.app h2 {
    font-size: 3rem;
    color: yellow;
    text-shadow: var(--unoShadow);
    margin: 0;
}

.app button {
    border: .5rem rgb(247, 247, 27) solid;
    background-color: red;
    border-radius: 1.75rem;
    padding: .5rem;
}

.app button:hover {
    animation: growAndShrinkA 2s infinite;
}

.app button a {
    text-shadow: -2px 2px 0px rgb(0, 0, 0);
    color: white;
    font-size: 2rem;
}

