.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 11rem;
    border-radius: 2rem;
    overflow: hidden;
    border: 4px rgb(231, 231, 231) solid;
}

.cards h1 {
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    transform: rotate(-30deg);
}

.cards .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    transform: rotate(30deg);
    border: 8px white solid;
}