.uon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.uon .deck {
    width: 60vw;
}

.uon > .deck {
    width: 90vw;
    height: 14rem;
}

.uon > .deck .cards:hover {
    transform: scale(1.15);
    transition: 0.3s;
}

#enemyCards {
    margin-top: 1rem;
    align-items: flex-start;
}

#enemyCards h3 {
    margin: 4px 0px;
}

#buttonRestart {
    margin-top: 2rem;
    padding: .5rem;
    background-color: red;
    border: .5rem solid yellow;
    border-radius: 1.5rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    animation: growAndShrinkA 2s infinite;
}

.divRestart h1 {
    text-transform: uppercase;
    color: yellow;
    text-align: center;
    transform: rotate(-10deg);
    text-shadow: var(--playerShadow);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.uon .divRestart {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 800px) {
    .uon .divRestart {
        width: 80vw;
        max-height: 60vh;
    }
}